.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: rgb(64, 63, 63);
    position: sticky;
    top: 5rem;
    width: 20%;
}
.ques-container{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1rem;
    background-color: whitesmoke;
}
.s-links{
    padding: 0.6rem 1rem;
    background-color: whitesmoke;
    cursor: pointer;

}
.ques-container .s-links{
    padding: 0.6rem 1rem 0.6rem 0rem;
}
.selected{
   border-right:0.5rem solid orange ;

}
.selected-font{
    font-weight: 500;
    color: #000;
}
.s-link{
    padding-left: 2rem;
    
}