
.qn-main-container{
    display: flex;
}

.questions{
    background-color: white;
    border-right: 1px solid  rgb(219, 217, 217);
    border-left: 1px solid rgb(219, 217, 217);
    padding: 1rem;
    width: 100%;
}

.qn-img{
    width: 45%;
    border-radius: 1rem;
}
.qn-heading{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Gabarito', cursive;
}
.ask-button{
    height: 2.2rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;

}
.hr-qn-product{
    border: 1px solid rgb(219, 217, 217);
}
.qn-container{
    padding: 0 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}
.qn-img-container{
   width: 25%; 
   display: flex;
   gap: 0.5rem;
}
.qn-list-container{
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}
.qn-left-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15%;
}
.qn-right-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.total-qn{
    font-size: 2rem;
    padding: 0 0 2rem 1rem;
}
.qn-name{
    font-size: 1.3rem;
    font-weight: 400;
    color: #017cb6;
    cursor: pointer;
}
.qn-answer,.qn-view{
    color: gray;
}
.qn-vote{
    color: rgb(68, 66, 66);
    white-space: nowrap;
}
.keyword-user-container{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.button-conatiner{
    display: flex;
    gap: 0.5rem;
}
.keywords-button{
    height: 2rem;
    padding: 0 1rem;
    background-color: orange;
    border-radius: 0.5rem;
}

