.header-main{
    
    background-color: black;
    color: white;
    position: sticky;
    top:0;
    z-index: 10;
}
.header-hr{
    border: 2px solid orange;
    width: 98%;
}
.layout-icon{
    width: 1.8rem;
    height: 1.6rem;
}
.header-Login-button,.header-signin-button{
    
    height: 2.2rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
}
.header-Login-button{
    background-color: rgb(213, 229, 234);
    color: #0A95FF;
}
.header-signin-button{
    background-color: #0A95FF;
    color: white;
}
.header-container{
     display: flex;
     gap: 2rem;
     align-items: center;
     justify-content: space-between;
     padding: 0 2rem 0 2rem;
     height: 4.5rem;
}
.header-search-input{
    height: 3rem;
    border-radius: 0.5rem;
    min-width: 100%;
    padding-left: 2.6rem;
    font-size: 1.2rem;
}
.header-logo{
    width: 5rem;
}
.button-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-layer{
    display: flex;
    align-items: center;
    gap: 3rem;

}
.input-container{
    width: 50%;
    position: relative;
}
.head-img{
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    height: 3rem;
    width: 2rem;
    top: 0;
    left: 0.5rem;
    color: black;
}
